<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>All Courses</title>
  </head>
  <body>
    <div class="container">
    @if(@Model.Count == 0)
    {
      <p>No Courses have been registered yet.</p>
    }
    else
    {
      <ul>
      @foreach(var course in Model)
      {
        <li><a href="/courses/@course.GetId()">@course.GetName()</a></li>
      }
    </ul>
    }
    <br>
      <h4>Add a new Course</h4>
      <form class="form-group" action="/courses" method="post">
        <label for="course-name">Enter Course's Name:</label>
        <input type="text" name="course-name" required>
        <label for="department">Enter Course's Department:</label>
        <input type="text" name="department" maxlength="3" required>
        <label for="course-number">Enter Course's Number:</label>
        <input type="number" min=1 max=500 name="course-number" required>
        <button class="btn" type="submit" name="button">Submit</button>
      </form>
      <a href="/">Return Home</a> |
      <a href="/students">View all Students</a>|
      <a href="/departments">View all Departments.</a>
    </div>
  </body>
</html>
