<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/courses">View all Courses.</a> |
    <a href="/students">View all Students.</a> |
    <a href="/departments">View all Departments.</a>
  </body>
</html>
