<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>All Students</title>
  </head>
  <body>
    <div class="container">
    @if(@Model["students"].Count == 0)
    {
      <p>No Students have been registered yet.</p>
    }
    else
    {
      <ul>
      @foreach(var student in Model["students"])
      {
        <li><a href="/students/@student.GetId()">@student.GetName()</a></li>
      }
    </ul>
    }
    <br>
      <h4>Add a new Student</h4>
      <form class="form-group" action="/students" method="post">
        <label for="student-name">Enter Student's Name:</label>
        <input type="text" name="student-name" required>
        <label for="enrollment">Enrolled Starting:</label>
        <input type="date" name="enrollment">
        <label for="department">Enter Student's Major:</label>
        <select name="department">
          @foreach(var department in Model["departments"])
          {
            <option value="@department.GetId()">@department.GetName()</option>
          }
        </select>
        <button class="btn" type="submit" name="button">Submit</button>
      </form>
      <a href="/">Return Home</a> |
      <a href="/courses">View all Courses.</a> |
      <a href="/departments">View all Departments.</a>
    </div>
  </body>
</html>
